@font-face {
    font-family: "Biolinum";
    src: url("BiolinumRegular.ttf");
    font-weight: normal;
}
@font-face {
    font-family: "Biolinum";
    src: url("BiolinumBold.ttf");
    font-weight: bold;
}
@font-face {
    font-family: "mplus1m";
    src: url("mplus-1m-regular.ttf");
    font-weight: normal;
}
@font-face {
    font-family: "mplus1m";
    src: url("mplus-1m-medium.ttf");
    font-weight: bold;
}
@font-face {
    font-family: "mplus1m";
    src: url("mplus-1m-bold.ttf");
    font-weight: bolder;
}
@font-face {
    font-family: "mplus1m";
    src: url("mplus-1m-light.ttf");
    font-weight: lighter;
}

* {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

html { 
    height: 100%; 
}

body {
    width: 780px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Biolinum', sans, sans-serif;
    font-size: 16px;
    height: 100%;
}

h1, h3, a {
    color: #A00;
}

h1, h2, h3, h4 {
    font-weight: normal;
}

#container {
    position: relative;
    min-height: 100%;
}

#header {
    font-family: 'Biolinum', serif;
    top: 0px;
    border-top: 1px solid #AA0000;
    border-bottom: 1px solid #AA0000;
    padding-bottom: 3px;
    padding-left: 27%;
    margin-bottom: 10px;
}

#header a {
    text-decoration: none;
}

#header h1 {
    font-size: 52px;
    font-weight: bold;
    line-height: 40px;
    padding-top: 10px;
    float: left;
}

#header h2 {
    margin: 8px 0 0 14px;
    line-height: 15px;
    text-align: bottom;
    font-weight: normal;
    display: inline-block;
}

#header h2, #header h2 * {
    font-family: 'mplus1m', mono, monospaced;
    font-size: 13px;
}

pre {
    background-color: #FDFDFD;
    border: 1px solid #F0F0F0;
    overflow: auto;
    width: 115%;
    padding: 5px 0;
}

blockquote {
    margin: 5px 10px;
    padding: 5px 10px;
    background-color: #FDFDFD;
    border: 1px solid #F0F0F0;
}

#content blockquote p {
    padding: 3px 0;
}

code {
    font-family: mplus1m, mono;
    font-size: 13px;
}

#sidebar li a, #footer, #footer * {
    font-size: 14px;
}

#header em {
    font-style: normal;
    color: #FF0000;
}

#content {
    clear: both;
    width: 63%;
    float: right;
    padding-right: 10%;
    line-height: 22px;
    padding-bottom: 40px;
}

#content p img {
    float: left;
    padding-right: 18px;
}

#content>h2 {
    font-size: 28px;
    line-height: 50px;
}

#content p {
    padding: 10px 0;
}

#sidebar {
    padding: 1%;
    float: left;
    width: 23%;
    text-align: right;
    padding-top: 15px;
}

#sidebar li {
    clear: both;
    margin-bottom: 6px;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 63%;
    padding: 10px 10% 10px 27%;
    border-top: 1px solid #AA0000;
    border-bottom: 1px solid #AA0000;
    font-size: 14px;
    height: 17px;
}

ul.tags li {
    display: inline;
    padding-right: 3px;
}

ul.articles > li {
    padding-top: 10px;
    margin-bottom: 4px;
    list-style-type: circle;
    list-style-position: inside;
}

ul.articles h3 {
    display: inline;
}

/****************************/
/* GoodReads widget styling */

.gr_grid_container { 
    /* customize grid container div here. eg: width: 500px; */ 
}

.gr_grid_container br {
    display: none;
}

.gr_grid_book_container { 
    /* customize book cover container div here */ 
    max-height: 300px; 
    overflow: hidden; 
}

.gr_grid_branding {
    display: none;
}

#goodreadsWidget>h2 {
    background-image: url('http://www.goodreads.com/favicon.ico');
    background-repeat: no-repeat;
    background-position: center left;
    padding-left: 18px;
    display: inline;

}

/****************************/
/* Delicious widget styling */
.delicious-post {
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
}

.clear {
    clear: both;
}