* {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

html { 
    height: 100%; 
}

body {
    width: 780px;
    margin-left: auto;
    margin-right: auto;
    font-family: GentiumBookRegular, 'Linux Libertine', 'Liberation', serif;
    font-size: 16px;
    height: 100%;
}

h1, h3, a {
    color: #A00;
}

h1, h2, h3, h4 {
    font-weight: normal;
}

#container {
    position: relative;
    min-height: 100%;
}

#header {
    top: 0px;
    border-top: 1px solid #AA0000;
    border-bottom: 1px solid #AA0000;
    padding-bottom: 3px;
    padding-left: 27%;
    margin-bottom: 10px;
}

#header h1 {
    font-size: 53px;
    font-weight: normal;
    font-family: GentiumBasicRegular, Sans;
    line-height: 39px;
    padding-top: 10px;
    float: left;
}

#header h2 {
    margin: 8px 0 0 14px;
    line-height: 15px;
    text-align: bottom;
    font-size: 16px;
    font-weight: normal;
    display: inline-block;
}
#sidebar li a, #footer, #footer *, #header h2, #header h2 * {
    font-family: Inconsolata;
}

#header em {
    font-style: normal;
    color: #FF0000;
}

#content {
    clear: both;
    width: 63%;
    float: right;
    padding-right: 10%;
    font-size: 16px;
    line-height: 22px;
    padding-bottom: 40px;
}

#content>h2 {
    font-size: 28px;
    line-height: 50px;
}

#content p {
    padding: 10px 0;
}

#sidebar {
    padding: 1%;
    float: left;
    width: 23%;
    text-align: right;
    padding-top: 15px;
}

#sidebar li {
    clear: both;
    margin-bottom: 6px;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 63%;
    padding: 10px 10% 10px 27%;
    border-top: 1px solid #AA0000;
    border-bottom: 1px solid #AA0000;
    font-size: 14px;
    height: 17px;
}

ul.tags li {
    display: inline;
    padding-right: 3px;
}

ul.articles > li {
    padding-top: 10px;
    margin-bottom: 4px;
    border-top: dashed 1px #AA0000;
}
ul.articles > li:first-child {
    border: none;
}

ul.articles h3 {
    display: inline;
}

/****************************/
/* GoodReads widget styling */

.gr_grid_container { 
    /* customize grid container div here. eg: width: 500px; */ 
}

.gr_grid_container br {
    display: none;
}

.gr_grid_book_container { 
    /* customize book cover container div here */ 
    max-height: 300px; 
    overflow: hidden; 
}

.gr_grid_branding {
    display: none;
}

#goodreadsWidget>h2 {
    background-image: url('http://www.goodreads.com/favicon.ico');
    background-repeat: no-repeat;
    background-position: center left;
    padding-left: 18px;
    display: inline;

}

/****************************/
/* Delicious widget styling */
.delicious-post {
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
}

.clear {
    clear: both;
}